.container{
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color:rgb(29, 20, 20)
}
.header{
    background-color: darkgrey;
    color: #fff;
    min-height: 150px;
    padding: 10px;
    display: flex;
}
.header__img{
    margin-right: 20px;
}
.header__title{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.header__subtitle{
    font-style: italic;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.main{
    display: grid;
    grid-template-areas: "m m aside";
    background-color: rgb(240, 232, 232);
}
.main-wrapper{
    grid-area: m;
    padding: 10px;
}
.main__summary{
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.title{
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 700;
    position: relative;
    padding: 10px;
}
.title::after,
.aside__title::after{
    content: "";
    display: block;
    position: absolute;
    width: 95%;
    height: 2px;
    background-color: rgb(185, 179, 179);
}
.info__education-item,
.info__experience-item{
    display: flex;
    margin-bottom: 15px;
}
.info__education-time,
.info__experience-time{
    max-width: 130px;
    font-weight: 700;
    padding-right: 10px;
}
.aside{
    background-color: rgb(209, 209, 207);
    grid-area: aside;
    padding: 15px 0;
}
.aside__title{
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 15px;
}
.aside__item{
    display: grid;
    flex-direction: column;
    grid-gap: 5px;
    padding: 0 10px;
    margin-bottom: 15px;
}
.avatar{
    max-width: 200px;
    height: auto;
}
.personal-info__title{
    font-weight: 700;
}
.skills-list__item{
    margin-bottom: 15px;
}
.dots{
    display: flex;
    justify-content: end;
}
.dot{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 2px;
    padding-bottom: 5px;
}
.dot-active{
    background-color: black;
}
.languages__list li{
    padding-bottom: 20px;
    position: relative;
}
.languages__list li:nth-child(2)::after{
    content:"Intermediate";
    display: block;
    position: absolute;
    font-size: 14px;
    right: 0; 
    padding: 2px;  
}